body {
    font-family: Arial, sans-serif;
    background-image: url(images/pswt.jpg);
    background-size: cover;
    text-decoration: white;
    margin: 0;
    padding: 300px;
}
.menu {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.a {
    color: white;
    text-decoration: white;
    font-weight: bold;
}
.content {
    text-align: center;
    margin: 50px;
}
form {
    background-color: rgb(49, 182, 206);
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    display: inline-block;
    margin-top: 20px;
}